BlueprintDemoApp/SwiftSyntax.playground/playground.xcworkspace/contents.xcworkspacedata
BlueprintDemoApp/SwiftSyntax.playground/playground.xcworkspace/xcuserdata/themindinator.xcuserdatad/UserInterfaceState.xcuserstate